# CLion creates
.idea/

# Eclipse creates 
.cproject
.project
.settings/

# Xcode files by convention are in folder
xcode/

# build files by convention are in folder
build/

# make creates files with suffix
*.html
*.o
