# CLion creates
.idea/

# Eclipse creates 
.cproject
.project
.settings/

# Xcode files by convention are in folder
xcode/

# make files by convention are in folder
make/

# make creates files with suffix
*.html
*.o
