# CLion creates
.idea/

# Eclipse creates 
.cproject
.project
.settings/

# Xcode files by convention are in folder
cmake-xcode/

# build files by convention are in folders
cmake-build/
cmake-build-debug/
cmake-build-release/

# cmake configures files
config.h

# compiler creates files with suffix
*.o
