---
---

@import "{{ site.theme }}";

body {
  // add custom styles here, e.g,
  // background-color: #cdcdcd;
}

img[title="Evolution strategies applied to the problem of line profile decomposition in QSO spectra"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[title="JetBrains logo"] {
  min-height: 200px;
  max-height: 240px;
  object-fit: scale-down;
}
