---
---

@import "{{ site.theme }}";

body {
  // add custom styles here, e.g,
  // background-color: #cdcdcd;
}

img[title="Evolution strategies applied to the problem of line profile decomposition in QSO spectra"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  max-height: 640px;
  object-fit: cover;
}

img[title="JetBrains logo"] {
  min-height: 200px;  // height of the black box is 50 px
  max-height: 240px;  // height of the black box is 60 px
  object-fit: scale-down;
}
